* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../../images/peso-de-academia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: overlay;
    font-family: "Nome da Fonte", sans-serif;
}

.block {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.block .content {
    width: 100%;
    margin: 20px;
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

.block .content .title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

hr.division {
    margin: 20px 0;
}