* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://s.zst.com.br/cms-assets/2021/01/peso-de-academia-5-.png");
    background-size: 1900px;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

.block {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}   

.block .content {
    width: 100%;
    margin: 20px;
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

.block .content .title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

hr.division {
    margin: 20px 0;
}