.home {
    width: 100%;
    position: relative;   
    }
    
    body {
       
        background-color: #ccc;
        background: url("https://s.zst.com.br/cms-assets/2021/01/peso-de-academia-5-.png"); 
        opacity: 0.9;
        background-size: 1900px;
        
    }

.home .sub-title {
    margin-bottom: 20px;
}

.home .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.home .cards p.title {
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: 1000;
    font-size: 28px;

}

.home .cards img {
    max-height: 260px;
    border-radius: 10px;
    transition: all ease .5s;
    margin-top: 5px;
}

.home .cards img:hover {
    box-shadow: 0px 0px 5px #000;
}

.modals {
    position: absolute;
    /* left: 0; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.modals .chat,
.modals .contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #DDD;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all ease .5s;
}

.modals .chat:hover,
.modals .contatos:hover {
  background-color: #ccc;
  color: #fff;
}


.modals .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    transition: all ease .5s;
}

.enable {
    top: 0% !important;
}

.modals .modal .content {
    padding: 20px;
    max-width: 780px;
    background-color: #FFF;
    position: relative;
    box-sizing: border-box;
}

.modals .modal .content .fas {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

.modals .modal .content .header {
    padding: 20px;
    box-sizing: border-box;
}

.modals .modal .content .body {
    padding: 10px;
    box-sizing: border-box;
}

.modals .modal .content .body .list {
    display: flex;
    justify-content: space-between;
}

.modals .modal .content .body .list .title {
    font-size: 20px !important;
}