.home {
    width: 100%;
    position: relative;
}

.home .sub-title {
    margin-bottom: 20px;
}

.home .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.home .cards p.title {
    font-size: 18px;
}

.home .cards img {
    max-height: 250px;
    border-radius: 10px;
    transition: all ease .5s;
    margin-top: 5px;
}

.home .cards img:hover {
    box-shadow: 0px 0px 5px #000;
}

.modals {
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.modals .chat, .modals .contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #DDD;
    cursor: pointer;
}