header {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header .navbar {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
}

header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header .navbar ul li {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f5f0f0;
    border: 1px solid #FFF;
    transition: all ease .5s;
}
header .navbar ul li:hover {
    background-color: #EEE;
    border: 1px solid #000;
}

header .navbar ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

header .navbar ul li a .icon i {
    font-size: 30px;
    margin-bottom: 10px;
    
}

header .navbar ul li a strong{
    font-size: 20px;
}